/*.header {*/
/*   grid-area: h;*/
/*   background-color: aqua;*/
/*   !*background-color: #7fc6c6;*!*/
/*}*/

.headerPhoto {
   width: 70px;
}

.loginBlockIsAuth {
   /*float: left;*/
   font-weight: bold;
   margin-left: 15px;
   /*margin-right: 15px;*/
   color: #4f4fe5
}

.loginBlockNotAuth {
   font-weight: bold;
   margin-left: 15px;
   /*color: #ef5050;*/
}

/*.loginBlock a {*/
/*   color: #4f4fe5;*/
/*}*/