.nav {
    grid-area: n;
    background-color: peru;
    padding: 10px;
}

.item {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.activeLink {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    color: rgb(163, 51, 113);
}



/* такая запись тоже самое что выше - если потом в жсх мы через пробел указываем два стиля  */
/* .active{
    font-weight:100;
} */