
 .photoBlock img {
   height: 200px;
}

 .descriptionBlock {
    padding: 10px;
 }

 .userPhoto {
    height: 200px;
 }

 .profileBlock {
    font-weight: normal;
 }

 .contact {
    padding-left: 20px;
 }

 .buttonCancel {
    margin-left: 13px;
 }
 