/**/

/*.app-wrapper {*/
/*   width: 1200px;*/
/*   margin: 0 auto;*/
/*   display: grid;*/
/*   grid-template-areas:*/
/*      "h h"*/
/*      "n c";*/

/*   grid-template-rows: 68px 1fr;*/
/*   grid-template-columns: 120px 10fr;*/
/*   !* grid-gap: 10px; *!*/
/*}*/

/*.app-wrapper-content {*/

/*   grid-area: c;*/
/*   background-color: #4f4fe5;*/
/*   !*background-color: #0000ff;*!*/
/*   font-weight: bold;*/
/*}*/

.containerMy {
   width: 1140px;
   margin: 0 auto;
}

.created-by {
   text-align: center;
   margin-bottom: 10px;
}

.pad-left-10px {
   padding-left: 7px;
}

.redColor {
   color: red;
}
